@import "pages/dashboard.scss";
@import "pages/details.scss";

* {
  font-family: "Roboto";
}

/**
 * .container-hide can be used to keep height:100%
 * under a fixed element like .main
 */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

/**
 * Container under the appbar
 */
.app-container {
  top: 64px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  overflow: auto;
}

.fullheight {
  height: 100%;
}

.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress {
    text-align: center;
}
