.path-chip {
  padding: 4px !important;
  margin: 5px 0 !important;
}

#map {
  width: 100%;
  height: 100%;
}

.fullheight-image-container {
  height: 100%;
  text-align: center;
  padding-left: 0 !important;
}

.fullheight-image {
  max-height: 100%;
  height: auto;
  max-width: 100%;
  width: auto;
}

.arrow-up-button {
    position: fixed;
    z-index: 5;
    bottom: 35px;
    right: 70px;
}

.details-col, .stainedGlass-col {
    background: #FAFAFA;
}

.details-block, .go-back-link {
    padding: 20px 10px 0 10px;
}

.go-back-link {
    text-align: right;
}

.actions-container > * {
    margin: 10px 10px 0 0;
}
